*
!Dockerfile
!package.json
!scripts/
!scripts/build.mjs
!scripts/serve.mjs
!index.html
!design-system.html
!assets/
!assets/**
!case-studies.html
!projects/
!projects/**

!package-lock.json

!scripts/build-seo.mjs
!scripts/seo-pages.json

!thanks.html
